<h1>Repository</h1>
<form onsubmit="return addProject()">
    <label for="repo_name">Project Name:</label>
    <input type="text" id="repo_name" placeholder="Repository Name"/><br>
    <input type="file" id="project_zipfile" placeholder="Please attach your project zip file"/><br>
    <button type="submit">Add Project</button>
</form>
<a href="http://127.0.0.1:5000/dev-app">Back to Home Page</a>
<div id="project-display"></div>
<script>
    let projectList = [];
    function addProject() {
        event.preventDefault();
        const project = {
            repo_name: document.getElementById('repo_name').value,
            project_zipfile: document.getElementById('project_zipfile').files[0]
        }
        projectList.push(project);
        let projectDisplay = document.getElementById('project-display');
        projectDisplay.innerHTML = '';
        for(let i = 0; i<projectList.length; i++){
            let projectUrl = URL.createObjectURL(projectList[i].project_zipfile);
            projectDisplay.innerHTML += `<p>${projectList[i].repo_name}: <a href="${projectUrl}" target="_blank">View Project Zip File</a></p>`;
        }
        return false;
    }
</script>