<h1>Leave Management</h1>
<form onsubmit="return addLeave()">
    <label for="employee_name">Employee Name:</label>
    <input type="text" id="employee_name" placeholder="Employee Name"/><br>
    <label for="leave_reason">Reason for Leave:</label>
    <input type="text" id="leave_reason" placeholder="Reason for Leave"/><br>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date"/><br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date"/><br>
    <button type="submit">Apply for Leave</button>
</form>
<a href="http://127.0.0.1:5000/hr-app">Back to Home Page</a>
<div id="leave-display"></div>
<script>
    let leaveList = [];
    function addLeave() {
        event.preventDefault();
        const leave = {
            employee_name: document.getElementById('employee_name').value,
            leave_reason: document.getElementById('leave_reason').value,
            start_date: document.getElementById('start_date').value,
            end_date: document.getElementById('end_date').value
        };
        leaveList.push(leave);
        let leaveDisplay = document.getElementById('leave-display');
        leaveDisplay.innerHTML = '';
        for(let i = 0; i<leaveList.length; i++){
            leaveDisplay.innerHTML += `<p>${leaveList[i].employee_name} - ${leaveList[i].leave_reason} - ${leaveList[i].start_date} to ${leaveList[i].end_date}</p><br>`;
        }
        console.log("Leave applied");
        return false;
    }
</script>